body {
   background: white;
   font-size: 10pt;
   margin-left: 2cm;
}

.counter {
  padding-top: 4cm;

}

table.printout {
  width: 10 cm;
}

.printoutbody {
  /*background-color: #ffffff;
  background-image: url(../images/logo_creditunion_bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
  display: list-item;
  list-style-image: url(../images/logo_creditunion_bg.gif);
  list-style-position: inside;
}

.noprint {
		display:none;
}